:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  -webkit-text-size-adjust: 100%;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 2rem;
  
  
  
}

.Games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
  
}

.Card {
  overflow: hidden;
  border-width: 8px;
  border-color: black;
  border-style: groove;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  

}

.Title{
  margin-bottom: 50px;
}

img {
  width: 300px;
  height: auto;
  border-bottom: 8px groove black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
